# Ignore everything in repository root 
/*

# Files to not ignore
!/.gitignore
!/picom.conf
!/setup.sh
!/install_packages.sh
!/readme.md
!/packages
!/icons

# Folder to not ignore
!/nvim/
!/vifm/
!/i3/
!/rofi/
!/autostart/
!/autorandr/
!/dunst/
!/gtk-3.0/
!/nitrogen/
!/xfce4/
!/zsh/
!/kitty/
!/tmux/
!/alacritty/
!/freeze/
